#containerCards {
  min-height: calc(100vh - 160px);
  padding-bottom: 60px;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(133, 136, 136, 1) 50%, rgba(0, 0, 0, 1) 100%);
}
#containerDetails {
  padding-bottom: 60px;
  background-color: #e5e5e5;
}
#containerBackoffice {
  padding-bottom: 60px;
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  #imgDettagli {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  #containerDetails {
    background-image: url(../sfondoDetails.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 992px) {
  #rowBackoffice {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  #containerBackoffice {
    background-image: url(../sfondoBackoffice.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#cardsIndex:hover {
  transform: scale(1.15);
  z-index: 10;
}
